<h1>SF Salaries Exercise</h1>

<h4>import pandas</h4>

In [1]:
import pandas as pd
import numpy as np

C:\Users\LEGOIN\AppData\Roaming\Python\Python38\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\LEGOIN\AppData\Roaming\Python\Python38\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
C:\Users\LEGOIN\AppData\Roaming\Python\Python38\site-packages\numpy\.libs\libopenblas.XWYDX2IKJW2NMTWSFYNGFUWKQU3LYTCZ.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
pd.read_csv('Datasets/Salaries.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (3,4,5,6,12) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148650,148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

<h4>Read Salaries.cvs as a dataframe called sal</h4>

In [3]:
sal = pd.read_csv('Datasets/Salaries.csv')
sal

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (3,4,5,6,12) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148650,148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

<h4>check the header of the dataframe</h4>

In [4]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

<h4>Use .info method to find out how many entries there are</h4>

In [5]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

<h4>what is the average BasePay</h4>

In [6]:

main_avg= sal.loc[ (sal['BasePay'] != "Not Provided")&(sal['BasePay'] != "0.00"),'BasePay' ].apply(pd.to_numeric).mean()
sal.loc[ (sal['BasePay'] != "Not Provided")&(sal['BasePay'] != "0.00"),'BasePay']

0         167411.18
1         155966.02
2         212739.13
3           77916.0
4          134401.6
            ...
148613        19.97
148616        21.48
148617        17.26
148619         6.04
148620        15.50
Name: BasePay, Length: 148227, dtype: object

In [7]:
sal.loc[ sal['BasePay'] == "Not Provided",'BasePay'  ]=main_avg
main_avg

66515.49954337954

In [8]:
sal['BasePay']=sal['BasePay'].apply(pd.to_numeric)

In [9]:
sal.loc[ sal['BasePay'] == 0,'BasePay'  ]=main_avg
sal

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.180000,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.020000,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.130000,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.000000,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.600000,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,66515.499543,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148650,148651,Not provided,Not provided,66515.499543,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,66515.499543,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,66515.499543,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",66515.499543,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

<h4>what is the highest amount of OvertimePay in the  dataset</h4>

In [10]:
main_avg= sal[ sal['OvertimePay'] != "Not Provided"]['OvertimePay'].apply(pd.to_numeric).mean()
sal.loc[ sal['OvertimePay'] == "Not Provided",'OvertimePay'  ]=main_avg
sal['OvertimePay']=sal['OvertimePay'].apply(pd.to_numeric)
sal['OvertimePay'].max()

245131.88

<h4>what is the jop title of JOSEPH DRISCOLL ? </h4>

In [11]:
sal[sal['EmployeeName'].str.find('JOSEPH DRISCOLL')==0]["JobTitle"]
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']["JobTitle"]

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

<h4>How much does JOSePh Driscoll make (including benefits) </h4>

In [12]:
sal[sal['EmployeeName'].str.find('JOSEPH DRISCOLL')==0]["TotalPay"]+sal[sal['EmployeeName'].str.find('JOSEPH DRISCOLL')==0]["TotalPay"]
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']["TotalPayBenefits"]

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [13]:
sal[sal['EmployeeName'].str.find('JOSEPH DRISCOLL')==0]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
24,25,JOSEPH DRISCOLL,"CAPTAIN, FIRE SUPPRESSION",140546.86,97868.77,31909.28,NaN,270324.91,270324.91,2011,NaN,San Francisco,NaN

<h4>what is the highest paid person (including benefits)?</h4>

In [14]:
sal[sal['TotalPayBenefits'].max()==sal['TotalPayBenefits']]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

In [15]:
sal.loc[sal['TotalPayBenefits'].idxmax()]# argmax , idxmax get the maximum clumn index row

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                  167411.18
OvertimePay                                                    0.0
OtherPay                                                 400184.25
Benefits                                                       NaN
TotalPay                                                 567595.43
TotalPayBenefits                                         567595.43
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

<h4>lowest paid person including benefits? </h4>

In [16]:
sal[sal['TotalPayBenefits'].min()==sal['TotalPayBenefits']]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",66515.499543,0.0,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

<h4>what was the average (mean) Basepay of all employee per year? (2011- 2014)</h4>

In [17]:
sal['BasePay'].mean()
sal.loc[(sal['Year']>2011) & (sal['Year']<2014) ]# fuck wrong
sal.groupby('Year').mean()# per means to use group by so this question means the Base average every year

,Id,BasePay,OvertimePay,TotalPay,TotalPayBenefits,Notes
Year,,,,,,
2011,18080.0,64427.423255,4531.065429,71744.103871,71744.103871,NaN
2012,54542.5,66196.253178,5023.417824,74113.262265,100553.229232,NaN
2013,91728.5,69630.030216,5281.641980,77611.443142,101440.519714,NaN
2014,129593.0,67307.684709,5401.958490,75463.918140,100250.918884,NaN

<h4>How many unique jop tiltes are there?</h4>

In [18]:

len(sal.loc[( sal['JobTitle'] != "Not provided"),'JobTitle'].unique())

2158

<h4>what are the top 5 most common jobs</h4>

In [19]:
print(sal.pivot_table(index = ['JobTitle'], aggfunc ='size').nlargest(n=5))
sal['JobTitle'].value_counts().head(5)

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
dtype: int64

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

<h4>every jop total info</h4>

In [20]:
sal.pivot_table(index = ['JobTitle'], aggfunc =np.sum)

,BasePay,Id,Notes,OvertimePay,TotalPay,TotalPayBenefits,Year
JobTitle,,,,,,,
ACCOUNT CLERK,3.593967e+06,2135990,0.0,30975.67,3654960.14,3654960.14,166913
ACCOUNTANT,2.997314e+05,120796,0.0,0.00,237146.34,237146.34,10055
ACCOUNTANT INTERN,1.379168e+06,1350184,0.0,1172.67,1393523.66,1393523.66,96528
"ACPO,JuvP, Juv Prob (SFERS)",6.229078e+04,135284,0.0,0.00,62290.78,80266.37,2014
ACUPUNCTURIST,6.637440e+04,18379,0.0,0.00,67594.40,67594.40,2011
...,...,...,...,...,...,...,...
X-RAY LABORATORY AIDE,1.239284e+06,585054,0.0,92851.81,1370352.89,1370352.89,52286
X-Ray Laboratory Aide,4.608639e+06,9889062,0.0,348376.71,5082394.27,6952112.32,201304
"YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS",5.260991e+04,23392,0.0,0.00,53632.87,53632.87,2011
Youth Comm Advisor,1.563118e+05,398711,0.0,0.00,165657.23,240474.20,8052
ZOO CURATOR,4.314800e+04,18779,0.0,0.00,66686.56,66686.56,2011

<h4>How many jop Title were represented by only one person in 2013 (e.g. Jop with only one occurence in 2013)</h4>

In [26]:
dublication_jops_2013=  sal[sal['Year']==2013].pivot_table(index = ['JobTitle'], aggfunc ='size')
print(sum(dublication_jops_2013[dublication_jops_2013==1]))
print(sum(sal[sal['Year']==2013]['JobTitle'].value_counts()==1))# to get the duvlication

202
202

<h4>How many people have the word Chief in their jop title? (this pretty tricky)</h4>

In [41]:
x= sal[sal['JobTitle'].str.find("CHIEF")>-2]
len(x) # wrong

148654

In [33]:
def cheif_string(title):
    if 'chief' in title.lower().split():
        return True
    else:
        return False

False

In [39]:
len(sal[sal['JobTitle'].apply(lambda x:cheif_string(x))])

477

<h4>Bouns: in there a correlation between length of jop Title String and salary? </h4>

In [43]:
sal['title_len']=sal['JobTitle'].apply(len)

In [49]:
sal[['title_len','TotalPayBenefits']].corr()

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000