In [1]:
import pandas as pd

C:\Users\LEGOIN\AppData\Roaming\Python\Python38\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\LEGOIN\AppData\Roaming\Python\Python38\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
C:\Users\LEGOIN\AppData\Roaming\Python\Python38\site-packages\numpy\.libs\libopenblas.XWYDX2IKJW2NMTWSFYNGFUWKQU3LYTCZ.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [3]:
pd.read_csv("worldcities.csv").duplicated().sum()

72

In [4]:
pd.read_csv("worldcities.csv")

                      City                   Country
0                Rovaniemi                   Finland
1                Steinkjer                    Norway
2                 Monterey  United States of America
3                     Kuta                 Indonesia
4                    Lovec                  Bulgaria
...                    ...                       ...
7317                De Aar              South Africa
7318  Kamensk Shakhtinskiy                    Russia
7319                 Sinop                    Turkey
7320              Tirupati                     India
7321              Huangshi                     China

[7322 rows x 2 columns]